# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data / Model artefacts
train/
val/
predictions/
runs/
*.pt
*.onnx
*.tflite
*.h5
*.keras
uploaded_images/
zip_extracted/

# Sensitive
.env
*.key
api_keys.txt

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
